# Environnements virtuels (partout dans le projet)
venv/
**/venv/
.venv/
**/.venv/

# Python
__pycache__/
*.pyc

# Système
.DS_Store

# Données et Modèles (Gérés par DVC)
data/
# IMPORTANT : On ignore le .pkl car il est sur DagsHub
artifacts/fraud_model.pkl
artifacts/reference_data.csv

venv/

tests/test_minikube.sh
tests/test_monitoring.py		
tests/test_model_performance.py
tests/test_security.py
results/
